.about {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.about-me {
    display: flex;
}

.text-about-me {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-left: 4rem;
    width: 50%;
}

.text-about-me h1 {
    font-weight: 100;
}

.text-about-me p {
    font-size: 1.5rem;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.skills-box {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    background-color: black;
    border: solid 3px white;
    padding: 2rem;
}

.skill-details {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

i {
    font-size: 64px;
}