.Header {
    display: flex;
    align-items: center;
    background-color: darkgray;
    font-size: xx-large;
    padding: 1rem 0;
}

.Links {
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.Icon {
    margin-left: 4rem;
}

a {
    text-decoration: none;
}