.Header {
    display: flex;
    align-items: center;
    font-size: xx-large;
    padding: 1rem 0;
    overflow: hidden;
}

.Links {
    z-index: 1;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.Icon {
    margin-left: 4rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}