.Presentation {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-left: 4rem;
}

.MyPresentation {
    width: 50%;
}

.Social {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.SocialLinks {
    display: flex;
    gap: 2rem;
}

.SocialLinks a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 4.5rem;
    color: white;
    background-color: black;
    border: 3px solid black;
    border-radius: 0.8rem;
}

.SocialLinks a:hover {
    background-color: forestgreen;
}

h1 {
    font-size: 3.5rem;
}

img {
    height: 20rem;
    border-radius: 9999px;
}