.app {
    display: flex;
    justify-content: center;

    height: 100vh;
}

.app main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 42px;
}

.container {
    width: 80rem;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 204px;
    margin-top: 40px;
}

.arm {
    position: absolute;
    left: 0;
    top: 0;
}