* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  color: white;
}

html {
  background-image: url("/src/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}