* {
  font-family: 'Ubuntu Mono', monospace, sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body,
.App {
  margin: 0;
  padding: 0;
  background: #08070b;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: 5% 20%;
  font-size: 16px;
  line-height: 32px;
}

h1 {
  font-size: 48px;
  background-image: linear-gradient(to right, rebeccapurple, steelblue, turquoise);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  padding-bottom: 0.5rem;
}

p {
  color: #8f9ba8;
  margin: 0;
}

strong {
  color: #f2f2f2;
}